In [12]:
# executando o crawler do Twitter
!python get_tweets.py

^C

# Entendendo a estrutura do JSON

In [13]:
import json

In [14]:
# Abrir o arquivo de tweets e ler as linhas
with open('collected_tweets_2020-11-26-19-36-43.txt', 'r') as file:
    tweets = file.readlines()

In [24]:
# Fazendo o parse do tweet para o formato json e export o arquivo
with open('tweet.json', 'w') as f:
    json.dump(
        json.loads(
            json.loads(tweets[0])
        ),
        f
    )

In [16]:
parsed_tweets = [json.loads( json.loads(i)) for i in tweets]

In [53]:
# quantidade de tweets coletados
print(len(parsed_tweets))

181

# Acessando as chaves do json

In [45]:
primeirotweet = parsed_tweets[6]
primeirotweet.keys()

dict_keys(['created_at', 'id', 'id_str', 'text', 'source', 'truncated', 'in_reply_to_status_id', 'in_reply_to_status_id_str', 'in_reply_to_user_id', 'in_reply_to_user_id_str', 'in_reply_to_screen_name', 'user', 'geo', 'coordinates', 'place', 'contributors', 'retweeted_status', 'is_quote_status', 'quote_count', 'reply_count', 'retweet_count', 'favorite_count', 'entities', 'favorited', 'retweeted', 'filter_level', 'lang', 'timestamp_ms'])

In [36]:
# Acessando o texto do tweet
# Chave de primeiro nivel(root)
primeirotweet['user']

{'id': 1183570629938892800,
 'id_str': '1183570629938892800',
 'name': 'Rian Jales',
 'screen_name': 'JalesRian',
 'location': None,
 'url': None,
 'description': 'sei la porra',
 'translator_type': 'none',
 'protected': False,
 'verified': False,
 'followers_count': 97,
 'friends_count': 251,
 'listed_count': 0,
 'favourites_count': 6620,
 'statuses_count': 2714,
 'created_at': 'Mon Oct 14 02:30:11 +0000 2019',
 'utc_offset': None,
 'time_zone': None,
 'geo_enabled': False,
 'lang': None,
 'contributors_enabled': False,
 'is_translator': False,
 'profile_background_color': 'F5F8FA',
 'profile_background_image_url': '',
 'profile_background_image_url_https': '',
 'profile_background_tile': False,
 'profile_link_color': '1DA1F2',
 'profile_sidebar_border_color': 'C0DEED',
 'profile_sidebar_fill_color': 'DDEEF6',
 'profile_text_color': '333333',
 'profile_use_background_image': True,
 'profile_image_url': 'http://pbs.twimg.com/profile_images/1315817185420414976/LYjsTCNv_normal.jpg',
 'profile_image_url_https': 'https://pbs.twimg.com/profile_images/1315817185420414976/LYjsTCNv_normal.jpg',
 'profile_banner_url': 'https://pbs.twimg.com/profile_banners/1183570629938892800/1571151992',
 'default_profile': True,
 'default_profile_image': False,
 'following': None,
 'follow_request_sent': None,
 'notifications': None}

In [38]:
# Acesso o screen name do user
primeirotweet['user']['screen_name']

'JalesRian'

In [52]:
# Pegando o nome do primeiro usuario mencionado no tweet
primeirotweet['retweeted_status']['entities']

{'hashtags': [],
 'urls': [{'url': 'https://t.co/628tjXDiVP',
   'expanded_url': 'https://twitter.com/i/web/status/1332083382407327744',
   'display_url': 'twitter.com/i/web/status/1…',
   'indices': [117, 140]}],
 'user_mentions': [],
 'symbols': []}

# Transformar os tweets em uma estrutura relacional analisavel

In [54]:
import pandas as pd

In [66]:
df_tratado = pd.DataFrame(primeirotweet).reset_index(drop = True).iloc[:1]

In [67]:
# Retirando colunas que não serão utilizadas
df_tratado.drop(columns = ['quote_count','reply_count','retweet_count', 'favorite_count', 'favorited', 'retweeted', 'user', 'entities', 'retweeted_status'], inplace = True)

In [70]:
#  Dados do User
df_tratado['user_id'] = primeirotweet['user']['id']
df_tratado['user_id_str'] = primeirotweet['user']['id_str']
df_tratado['user_screen_name'] = primeirotweet['user']['screen_name']
df_tratado['user_location'] = primeirotweet['user']['location']
df_tratado['user_desc'] = primeirotweet['user']['description']
df_tratado['user_protected'] = primeirotweet['user']['protected']
df_tratado['user_flw_count'] = primeirotweet['user']['followers_count']
df_tratado['user_friend_count'] = primeirotweet['user']['friends_count']
df_tratado['user_protected'] = primeirotweet['user']['protected']

In [75]:
# Dados das Entidades
user_mentios = []
for i in range(len(primeirotweet['entities']['user_mentions'])):
    dicionariobase = primeirotweet['entities']['user_mentions'][i].copy()
    dicionariobase.pop('indices', None)
    df = pd.DataFrame(dicionariobase, index = [0])
    df = df.rename(columns = {
        'screen_name': 'entities_screen_name',
        'name': 'entities_name',
        'id': 'entities_id',
        'id_str': 'entities_id_str'
    })
    user_mentios.append(df)

In [77]:
pd.concat(user_mentios, ignore_index = True)

  entities_screen_name entities_name         entities_id     entities_id_str
0                furia         FURIA  894704535037513729  894704535037513729

In [78]:
dfs = []
for i in user_mentios:
    dfs.append(pd.concat([df_tratado.copy(), i], axis = 1))

In [81]:
pd.concat(dfs, ignore_index = True)

,created_at,id,id_str,text,source,truncated,in_reply_to_status_id,in_reply_to_status_id_str,in_reply_to_user_id,in_reply_to_user_id_str,...,user_screen_name,user_location,user_desc,user_protected,user_flw_count,user_friend_count,entities_screen_name,entities_name,entities_id,entities_id_str
0,Thu Nov 26 22:37:05 +0000 2020,1332091032452870144,1332091032452870144,RT @furia: conheçam o QG da FURIA!\n\nsalas de...,"<a href=""https://mobile.twitter.com"" rel=""nofo...",False,None,None,None,None,...,exmpIary,遠い場所 ;,nick lol; eboy paraense.\n\n\n\n\n\n\n\n\n\n\n...,False,30,219,furia,FURIA,894704535037513729,894704535037513729

In [85]:
# função para tratar todos os tweets
def tweet_para_df(tweet):
    try:
        df_tratado = pd.DataFrame(tweet).reset_index(drop = True).iloc[:1]
        df_tratado.drop(columns = ['quote_count','reply_count','retweet_count', 'favorite_count', 'favorited', 'retweeted', 'user', 'entities', 'retweeted_status'], inplace = True)
        df_tratado['user_id'] = tweet['user']['id']
        df_tratado['user_id_str'] = tweet['user']['id_str']
        df_tratado['user_screen_name'] = tweet['user']['screen_name']
        df_tratado['user_location'] = tweet['user']['location']
        df_tratado['user_desc'] = tweet['user']['description']
        df_tratado['user_protected'] = tweet['user']['protected']
        df_tratado['user_flw_count'] = tweet['user']['followers_count']
        df_tratado['user_friend_count'] = tweet['user']['friends_count']
        df_tratado['user_protected'] = tweet['user']['protected']
        # Dados das Entidades
        user_mentios = []
        for i in range(len(tweet['entities']['user_mentions'])):
            dicionariobase = tweet['entities']['user_mentions'][i].copy()
            dicionariobase.pop('indices', None)
            df = pd.DataFrame(dicionariobase, index = [0])
            df = df.rename(columns = {
                'screen_name': 'entities_screen_name',
                'name': 'entities_name',
                'id': 'entities_id',
                'id_str': 'entities_id_str'
            })
            user_mentios.append(df)
        dfs = []
        for i in user_mentios:
            dfs.append(pd.concat([df_tratado.copy(), i], axis = 1))
        df_final = pd.concat(dfs, ignore_index = True)
    except:
        return None
    return df_final

In [88]:
tweet_para_df(parsed_tweets[6])

,created_at,id,id_str,text,source,truncated,in_reply_to_status_id,in_reply_to_status_id_str,in_reply_to_user_id,in_reply_to_user_id_str,...,user_screen_name,user_location,user_desc,user_protected,user_flw_count,user_friend_count,entities_screen_name,entities_name,entities_id,entities_id_str
0,Thu Nov 26 22:37:05 +0000 2020,1332091032452870144,1332091032452870144,RT @furia: conheçam o QG da FURIA!\n\nsalas de...,"<a href=""https://mobile.twitter.com"" rel=""nofo...",False,None,None,None,None,...,exmpIary,遠い場所 ;,nick lol; eboy paraense.\n\n\n\n\n\n\n\n\n\n\n...,False,30,219,furia,FURIA,894704535037513729,894704535037513729

In [89]:
%%time
# Vamos criar uma lista de tweets concatenados
parseados = [tweet_para_df(tweet) for tweet in parsed_tweets]

Wall time: 1.96 s

In [94]:
# eliminar as posições vazias da lists
parseados = [i for i in parseados if i is not None]

In [98]:
tratado = pd.concat(parseados, ignore_index = True)

In [99]:
tratado

,created_at,id,id_str,text,source,truncated,in_reply_to_status_id,in_reply_to_status_id_str,in_reply_to_user_id,in_reply_to_user_id_str,...,entities_screen_name,entities_name,entities_id,entities_id_str,extended_entities,possibly_sensitive,quoted_status_id,quoted_status_id_str,quoted_status,quoted_status_permalink
0,Thu Nov 26 22:37:05 +0000 2020,1332091032452870144,1332091032452870144,RT @furia: conheçam o QG da FURIA!\n\nsalas de...,"<a href=""https://mobile.twitter.com"" rel=""nofo...",False,None,None,None,None,...,furia,FURIA,894704535037513729,894704535037513729,NaN,NaN,NaN,NaN,NaN,NaN
1,Thu Nov 26 22:37:08 +0000 2020,1332091042967982083,1332091042967982083,"RT @nancyovelar7: Hay días de felicidad,\ndías...","<a href=""http://twitter.com/download/android"" ...",False,None,None,None,None,...,nancyovelar7,Nancy Ovelar,1001574164812173312,1001574164812173312,NaN,NaN,NaN,NaN,NaN,NaN
2,Thu Nov 26 22:37:10 +0000 2020,1332091049968345089,1332091049968345089,RT @furia: conheçam o QG da FURIA!\n\nsalas de...,"<a href=""https://mobile.twitter.com"" rel=""nofo...",False,None,None,None,None,...,furia,FURIA,894704535037513729,894704535037513729,NaN,NaN,NaN,NaN,NaN,NaN
3,Thu Nov 26 22:37:22 +0000 2020,1332091101675737088,1332091101675737088,RT @furia: conheçam o QG da FURIA!\n\nsalas de...,"<a href=""https://mobile.twitter.com"" rel=""nofo...",False,None,None,None,None,...,furia,FURIA,894704535037513729,894704535037513729,NaN,NaN,NaN,NaN,NaN,NaN
4,Thu Nov 26 22:37:29 +0000 2020,1332091131052568577,1332091131052568577,RT @rialjorge: Fue una despedida a la manera d...,"<a href=""http://twitter.com/download/android"" ...",False,None,None,None,None,...,rialjorge,JORGE RIAL,124779370,124779370,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77,Thu Nov 26 22:48:54 +0000 2020,1332094003337187331,1332094003337187331,RT @aakkari: O crescimento da @furia em 3 anos...,"<a href=""http://twitter.com/download/iphone"" r...",False,None,None,None,None,...,aakkari,andre akkari,43760956,43760956,NaN,NaN,NaN,NaN,NaN,NaN
78,Thu Nov 26 22:48:54 +0000 2020,1332094003337187331,1332094003337187331,RT @aakkari: O crescimento da @furia em 3 anos...,"<a href=""http://twitter.com/download/iphone"" r...",False,None,None,None,None,...,furia,FURIA,894704535037513729,894704535037513729,NaN,NaN,NaN,NaN,NaN,NaN
79,Thu Nov 26 22:48:54 +0000 2020,1332094004117303305,1332094004117303305,RT @ClubGuabira: GUABIRÁ YA ESTÁ EN POTOSI \nE...,"<a href=""http://twitter.com/download/android"" ...",False,None,None,None,None,...,ClubGuabira,Club Guabirá Oficial,125387276,125387276,NaN,NaN,NaN,NaN,NaN,NaN
80,Thu Nov 26 22:48:55 +0000 2020,1332094007493713932,1332094007493713932,RT @delglisa: La ciudad de la furia fue hoy,"<a href=""http://twitter.com/download/android"" ...",False,None,None,None,None,...,delglisa,Lisa Delgado,1242280873564635136,1242280873564635136,NaN,NaN,1.331912e+18,1331912321564815364,1331912321564815364,NaN
81,Thu Nov 26 22:49:06 +0000 2020,1332094056223137796,1332094056223137796,"RT @nancyovelar7: Hay días de felicidad,\ndías...","<a href=""http://twitter.com/download/android"" ...",False,None,None,None,None,...,nancyovelar7,Nancy Ovelar,1001574164812173312,1001574164812173312,NaN,NaN,NaN,NaN,NaN,NaN

# Gravando no MySql

In [100]:
import pymysql
from sqlalchemy import create_engine

In [101]:
# conexão com MySql
engine = create_engine('mysql+pymysql://root:root@localhost/dw')

In [102]:
# gravando o dataframe no banco MySql
tratado.to_sql('tweets', con = engine, index = False, chunksize = 10000)