In [6]:
from pymongo import MongoClient
import pandas as pd
import boto3
import pymysql
from sqlalchemy import create_engine

In [2]:
# conectando no MongoDB
connection  = MongoClient('mongodb+srv://estudante_igti:SRwkJTDz2nA28ME9@unicluster.ixhvw.mongodb.net/')

# Lista os database do MongoDB
print(connection.list_database_names())

# acessando a base do IBGE
banco = connection['ibge']

# acessando a collection 
pnadc20203 = banco['pnadc20203']

['ibge', 'admin', 'local']

In [3]:
# Lista a quantidade de registro da collection pndac20203
print(pnadc20203.count())

368210

In [4]:
registro =[]

# percorre os dados da collection e salva em um dicionario
for linhas in pnadc20203.find():
    registro.append(linhas)

# cria o dataframe
df = pd.DataFrame(registro)

In [16]:
# Analisando o Dataframe
print(df.info())
print(df.describe())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 368210 entries, 0 to 368209
Data columns (total 13 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   _id        368210 non-null  object
 1   ano        368210 non-null  int64
 2   trimestre  368210 non-null  int64
 3   uf         368210 non-null  object
 4   sexo       368210 non-null  object
 5   idade      368210 non-null  int64
 6   cor        368210 non-null  object
 7   graduacao  13869 non-null   object
 8   trab       301724 non-null  object
 9   ocup       160168 non-null  object
 10  renda      132967 non-null  float64
 11  horastrab  138209 non-null  float64
 12  anosesco   347091 non-null  float64
dtypes: float64(3), int64(3), object(7)
memory usage: 36.5+ MB
None
            ano  trimestre          idade          renda      horastrab  \
count  368210.0   368210.0  368210.000000  132967.000000  138209.000000
mean     2020.0        3.0      36.526270    2158.855250      35.982526
std         0.0        0.0      21.895777    3612.609446      15.032993
min      2020.0        3.0       0.000000       0.000000       0.000000
25%      2020.0        3.0      18.000000     850.000000      30.000000
50%      2020.0        3.0      36.000000    1300.000000      40.000000
75%      2020.0        3.0      53.000000    2187.000000      44.000000
max      2020.0        3.0     112.000000  310000.000000     120.000000

            anosesco
count  347091.000000
mean        8.502453
std         4.887266
min         0.000000
25%         5.000000
50%         9.000000
75%        12.000000
max        16.000000

In [25]:
# Aplica o filtro para pegar somente as mulheres com idade entre 20 e 40 anos e grava num dataframe
dfpnadc20203 = df.loc[(df['sexo'] == 'Mulher') & (df['idade'] >= 20) & (df['idade'] <= 40)].drop(columns = ['_id'])

In [26]:
# Analisando o dataframe
dfpnadc20203.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 57335 entries, 5 to 368208
Data columns (total 12 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   ano        57335 non-null  int64
 1   trimestre  57335 non-null  int64
 2   uf         57335 non-null  object
 3   sexo       57335 non-null  object
 4   idade      57335 non-null  int64
 5   cor        57335 non-null  object
 6   graduacao  5995 non-null   object
 7   trab       57335 non-null  object
 8   ocup       34796 non-null  object
 9   renda      26792 non-null  float64
 10  horastrab  28012 non-null  float64
 11  anosesco   57335 non-null  float64
dtypes: float64(3), int64(3), object(6)
memory usage: 5.7+ MB

In [28]:
# Grava os dados o DW Mysql
# conex√£o com MySql
engine = create_engine('mysql+pymysql://root:root@localhost/dw')

# gravando o dataframe no banco MySql
dfpnadc20203.to_sql('pnadc20203', con = engine, index = False, chunksize = 10000)